<configuration>
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>
    <property name="CONSOLE_LOG_PATTERN" value="%white(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1}) - [%X] %msg%n"/>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework" level="INFO"/>
</configuration>